.book {
  margin: 20px;
  position: relative;
  transition: all .2s ease-in-out;
}

.book .img {
  height: 200px;
  width: 160px;
  background: rgb(106, 106, 208);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.book-description {
  margin-top: 10px;
  width: 160px;
}

.icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  transition: all .1s ease-in-out;
}

.icons img {
  width: 25px;
  transition: all .2s ease-in-out;
}

.book:hover {
  transform: scale(1.009);
  cursor: pointer
}

.book:hover .icons {
  display: block
}
