.book {
  margin: 20px;
  position: relative;
}

.book .img {
  height: 200px;
  width: 160px;
  background: rgb(106, 106, 208);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.book-description {
  margin-top: 10px;
  width: 160px;
}

.edit-icon {
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}
